@using OnlineShoppingStore.Areas.Admin.Views.Shared.Components.Header
@using OnlineShoppingStore.Areas.Admin.Views.Shared.Components.Customizer
@using OnlineShoppingStore.Areas.Admin.Views.Shared.Components.Footer
@using OnlineShoppingStore.Areas.Admin.Views.Shared.Components.SidebarMenu

<html class="loaded" lang="en" data-textdirection="rtl">
<!-- ============================================================== -->
<!-- BEGIN: Head-->
<!-- ============================================================== -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="keywords" content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template">
    <meta name="author" content="PIXINVENT">
    <title>Dashboard eCommerce - Modern Admin - Clean Bootstrap 4 Dashboard HTML Template + Bitcoin Dashboard</title>

    <link href="~/Admin/css/AdminStyles.css" rel="stylesheet" />
    <link href="~/Admin/css/main/fonts.css" rel="stylesheet" />
</head>

<!-- ============================================================== -->
<!-- END: Head-->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- BEGIN: Body-->
<!-- ============================================================== -->

<body class="vertical-layout vertical-content-menu fixed-navbar pace-done menu-collapsed">

    <!-- ============================================================== -->
    <!-- BEGIN: Header -->
    <!-- ============================================================== -->
    @await Component.InvokeAsync(typeof(Header))
    <!-- ============================================================== -->
    <!-- END: Header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- BEGIN: Content-->
    <!-- ============================================================== -->

    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>

            <!-- ============================================================== -->
            <!-- BEGIN: SidebarMenu-->
            <!-- ============================================================== -->
            @await Component.InvokeAsync(typeof(SidebarMenu));
            <!-- ============================================================== -->
            <!-- END: SidebarMenu-->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- BEGIN: RenderBody-->
            <!-- ============================================================== -->
            <div class="content-body">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- END: RenderBody-->
            <!-- ============================================================== -->
        </div>
    </div>


    <!-- ============================================================== -->
    <!-- END: Content-->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- BEGIN: Customizer-->
    <!-- ============================================================== -->
    @await Component.InvokeAsync(typeof(Customizer))
    <!-- ============================================================== -->
    <!-- End: Customizer-->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- BEGIN: Footer-->
    <!-- ============================================================== -->
    @await Component.InvokeAsync(typeof(Footer))
    <!-- ============================================================== -->
    <!-- END: Footer-->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- BEGIN: Scripts->
    <!-- ============================================================== -->
    <script src="~/Admin/js/AdminScripts.js"></script>
    @await RenderSectionAsync("scripts", required: false)
    <!-- ============================================================== -->
    <!-- END: Scripts-->
    <!-- ============================================================== -->
</body>
<!-- ============================================================== -->
<!-- END: Body-->
<!-- ============================================================== -->
</html>
