<div class="display-time"></div>

<script>
    const displayTime = document.querySelector(".display-time");
    // Time
    function showTime() {
        let time = new Date();
        displayTime.innerText = time.toLocaleTimeString("fa-IR", { hour12: false });
        setTimeout(showTime, 1000);
    }
    showTime();
</script>