@model OnlineShoppingStore.Application.Services.Products.Commands.Products.RequestCreateProductDto
@using OnlineShoppingStore.Application.Services.Products.Queries.GetAllPropertiesService

@{
    ViewBag.Title = "ایجاد محصول جدید";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var productProperties = (List<RequestGetAllPropertiesDto>)ViewBag.GetAllProp;
}

@section styles{
    <link href="~/Admin/css/product-controller/create.css" rel="stylesheet" />
}

@section roadMap{
    <div class="d-flex align-items-center main-roadmap">
        <a href="~/Admin/home/dashboard">پنل مدیریت</a>
        <i class="la la-location-arrow"></i>
        <a href="~/admin/products/index">مدیریت محصول</a>
        <i class="la la-location-arrow"></i>
        <h6>ایجاد محصول جدید</h6>
    </div>
}

<section class="basic-elements">
    <div class="row">
        <form class="form" method="post" asp-area="admin" asp-controller="products"
              asp-action="create" enctype="multipart/form-data">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title-wrap bar-success">
                            <h4 class="card-title mb-0">مشخصات اصلی محصول</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="px-3">
                            <div class="form-body">
                                <div class="row">

                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <select class="form-select" asp-for="CategoryId" asp-items="@ViewBag.GetAllCat">
                                            </select>
                                        </fieldset>
                                    </div>

                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <input type="text" class="form-control mb-1"
                                                   placeholder="نام یا مدل محصول" asp-for="Name">
                                            <span asp-validation-for="Name"></span>
                                        </fieldset>
                                    </div>

                                    <div class="col-xl-2 col-lg-3 col-md-6 mb-1">
                                        <fieldset class="form-group">
                                            <input class="form-control mb-1" type="number"
                                                   placeholder="تعداد" asp-for="Quantity">
                                            <span asp-validation-for="Quantity"></span>
                                        </fieldset>
                                    </div>

                                    <div class="col-xl-2 col-lg-3 col-md-6 mb-1">
                                        <fieldset class="form-group">
                                            <input type="number" class="form-control mb-1"
                                                   placeholder="قیمت پایه" asp-for="BasePrice">
                                            <span asp-validation-for="BasePrice"></span>
                                        </fieldset>
                                    </div>

                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group position-relative">
                                            <label class="form-check-label" for="Displayed">نمایش در سایت؟</label>
                                            <input type="checkbox" asp-for="Displayed"
                                                   class="form-check-input state icheckbox_square-red hover mr-1">
                                        </fieldset>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="card-title-wrap bar-success">
                            <h4 class="card-title mb-0">افزودن ویژگی های محصول</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="px-3">
                            <div class="form-body">
                                <div class="row">
                                    @for (int i = 0; i < productProperties.Count; i++)
                                    {
                                        var prop = productProperties[i];
                                        <div class="align-items-center col-lg-2 d-flex">
                                            <label class="form-check-label col-lg-3">
                                                @prop.Title:
                                            </label>
                                            <input type="hidden" name="PropertyDtos[@i].PropertyId" value="@prop.Id" />
                                            <input class="form-control" name="PropertyDtos[@i].PropertyName" />
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="card-title-wrap bar-success">
                            <h4 class="card-title mb-0">بارگذاری تصاویر محصول</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="px-3 upload-box">
                            <fieldset class="form-group">
                                <label class="btn btn-bitbucket">
                                    <span>انتخاب تصاویر:</span>
                                    <input type="file" multiple=""
                                           class="upload__inputfile" name="Images">
                                </label>
                                <div class="upload-img-wrap"></div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="col-xl-12 col-lg-12 col-md-12 mt-3">
                        <fieldset class="form-group text-center">
                            <button class="btn btn-bitbucket col-md-2" id="btnAddProduct">ثبت محصول جدید</button>
                        </fieldset>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

@section scripts{
    <script src="~/Admin/js/product-controller/create.js"></script>
}