@using OnlineShoppingStore.Application.Services.Products.Queries.GetAllProductService;
@model ICollection<GetAllProductDto>

@{
    ViewBag.Title = "لیست محصولات";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section roadMap{
    <div class="d-flex align-items-center main-roadmap">
        <a href="~/Admin/home/dashboard">پنل مدیریت</a>
        <i class="la la-location-arrow"></i>
        <a href="~/admin/products/index">مدیریت محصول</a>
        <i class="la la-location-arrow"></i>
        <h6>لیست محصولات</h6>
    </div>
}

<section class="basic-elements">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">لیست محصولات</h4>
                    </div>
                </div>

                <div class="card-body collapse show">
                    <div class="card-block card-dashboard">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr role="row">
                                            <th>نام گروه</th>
                                            <th>نام زیر گروه</th>
                                            <th>نام محصول</th>
                                            <th>تاریخ ثبت</th>
                                            <th>عملیات</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            <tr role="row">

                                                <td>@item.CatName</td>
                                                <td>@item.SubCatName</td>
                                                <td>@item.Name</td>
                                                <td>@item.CreatedDate</td>
                                                <td>
                                                    <a class="btn btn-outline-success" href="addproperty/@item.Id">افزودن ویژگی</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

