
@font-face {
    font-family: iransans-light;
    font-style: normal;
    font-weight: normal;
    src: url('/admin/fonts/IRANSansWeb_UltraLight.eot');
    src: url('/admin/fonts/IRANSansWeb_UltraLight.eot') format('embedded-opentype'),
        url('/admin/fonts/IRANSansWeb_UltraLight.woff2') format('woff2'),
        url('/admin/fonts/IRANSansWeb_UltraLight.woff') format('woff'),
        url('/admin/fonts/IRANSansWeb_UltraLight.ttf') format('truetype'),
        url('/admin/fonts/IRANSansWeb_UltraLight.svg') format('svg');
}

/* cyrillic-ext */
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/nunitosans/v8/pe03MImSLYBIv1o4X1M8cc8WAc5gU1EQVg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
