@model OnlineShoppingStore.Areas.Admin.Models.EditViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="basic-elements">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title mb-0">فرم ثبت نام کاربر جدید</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <form class="form" method="post" asp-action="Edit" asp-controller="Users" asp-area="Admin">
                            <div class="form-body">
                                <div class="row">

                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group position-relative has-icon-left">
                                            <input type="text" class="form-control mb-1"
                                                   placeholder="نام و نام خانوادگی" asp-for="FullName">
                                            <span asp-validation-for="FullName"></span>
                                            <div class="form-control-position">
                                                <i class="ft-user fa-2x text-bitbucket"></i>
                                            </div>
                                        </fieldset>
                                    </div>

                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group position-relative has-icon-left">
                                            <input type="text" class="form-control mb-1"
                                                   placeholder="پست الکترونیک: test@google.com" asp-for="Email">
                                            <span asp-validation-for="Email"></span>
                                            <div class="form-control-position">
                                                <i class="ft-mail fa-2x text-bitbucket"></i>
                                            </div>
                                        </fieldset>
                                    </div>

                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <select class="form-select ltr" asp-for="RoleId" asp-items="@ViewBag.RoleNameSelectList">
                                            </select>
                                        </fieldset>
                                    </div>

                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group position-relative has-icon-left">
                                            <input type="password" class="form-control mb-1"
                                                   placeholder="رمز عبور" asp-for="Password">
                                            <span asp-validation-for="Password"></span>
                                            <div class="form-control-position">
                                                <i class="ft-lock fa-2x text-bitbucket"></i>
                                            </div>
                                        </fieldset>
                                    </div>

                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group position-relative has-icon-left">
                                            <input type="password" class="form-control mb-1"
                                                   placeholder="تکرار رمز عبور" asp-for="RePassword">
                                            <span asp-validation-for="RePassword"></span>
                                            <div class="form-control-position">
                                                <i class="ft-lock fa-2x text-bitbucket"></i>
                                            </div>
                                        </fieldset>
                                    </div>

                                    <div class="col-xl-12 col-lg-12 col-md-12 mt-3">
                                        <fieldset class="form-group">
                                            <button type="submit" class="btn btn-bitbucket col-md-2">ویرایش</button>
                                        </fieldset>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

