@using OnlineShoppingStore.Application.Services.Products.Queries.GetCategories;
@model ICollection<ResponseCategoryDto>

@{
    ViewBag.Title = "لیست گروه محصولات";
    Layout = "~/Areas/Admin/Views/Shared/_Adminlayout.cshtml";
}

@section roadMap{
    <div class="d-flex align-items-center main-roadmap">
        <a href="~/Admin/home/dashboard">پنل مدیریت</a>
        <i class="la la-location-arrow"></i>
        <a href="~/admin/categories/index">مدیریت گروه محصول</a>
        <i class="la la-location-arrow"></i>
        <h6>لیست گروه محصولات</h6>
    </div>
}

<section class="basic-elements">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">لیست گروه محصولات</h4>
                    </div>
                </div>

                <div class="card-body collapse show">
                    <div class="card-block card-dashboard">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr role="row">
                                            <th>دسته بندی</th>
                                            <th>نام گروه اصلی</th>
                                            <th>تاریخ ثبت</th>
                                            <th>عملیات</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            <tr role="row">
                                                <td class="sorting_1">@item.Name</td>
                                                <td>
                                                    @{
                                                        string parent = item.Parent != null ? item.Parent.Name : "-";
                                                    }

                                                    <text> @parent </text>
                                                </td>
                                                <td>@item.CreateDate</td>
                                                <td>
                                                    @if (item.Parent == null)
                                                    {
                                                        <a href="~/admin/categories/create?ParentId=@item.Id" class="btn btn-success">ایجاد زیرگروه</a>
                                                    }

                                                    @if (item.HasChild == true)
                                                    {
                                                        <a href="~/admin/categories/index?parentId=@item.Id" class="btn btn-info">مشاهده لیست زیر گروه ها </a>
                                                    }
                                                    <a href="~/Admin/categories/edit?id=@item.Id" class="btn btn-outline-primary">ویرایش</a>
                                                    <button class="btn btn-outline-danger" onclick="DeleteCategory('@item.Id','@item.Name')">حذف</button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Admin/js/category-controller/index.js"></script>
}