/* FontAwesome */
@font-face {
    font-family: "FontAwesome";
    src: url("/fonts/font-awesome/fontAwesome-webfont.eot");
    src: url("/fonts/font-awesome/fontAwesome-webfont.eot") format("embedded-opentype"),
         url("/fonts/font-awesome/fontAwesome-webfont.woff2") format("woff2"),
         url("/fonts/font-awesome/fontAwesome-webfont.woff") format("woff"),
         url("/fonts/font-awesome/fontAwesome-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
