
@{
    ViewData["Title"] = "View";
}

<footer class="footer footer-static footer-light navbar-border">
    <p class="blue-grey d-flex justify-content-around lighten-2 mb-0 px-2 text-sm-center">
        <span class="float-md-left d-block d-md-inline-block">
            Copyright © 2019
            <a class="text-bold-800 grey darken-2" href="https://1.envato.market/modern_admin" target="_blank">
                PIXINVENT
            </a>
        </span>
        <span class="float-md-right d-none d-lg-block">
            Hand-crafted &amp; Made with
            <i class="ft-heart pink"></i>
            <span id="scroll-top" style="display: none;"></span>
        </span>
    </p>
</footer>