@model OnlineShoppingStore.Application.Services.DashboardInfo.Queries.ResultGetUserCountDto
@{
    ViewData["Title"] = "View";
}

<div class="col-xl-3 col-lg-6 col-12">
    <div class="card pull-up">
        <div class="card-content">
            <div class="card-body">
                <div class="media d-flex">
                    <div class="media-body text-left">
                        <h6>تعداد کاربران:</h6>
                        <h3 class="text-info">@Model.UserCount</h3>
                    </div>
                    <div>
                        <i class="font-large-2 la la-user-check text-info"></i>
                    </div>
                </div>
                <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                    <div class="bg-info progress-bar" role="progressbar" 
                         style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
</div>