@model OnlineShoppingStore.Application.Services.DashboardInfo.Queries.ResultGetUserCountDto
@{
    ViewData["Title"] = "View";
}

<div class="col l3 m6 s12">
    <div class="card danger-gradient card-hover">
        <div class="card-content">
            <div class="d-flex no-block align-items-center">
                <div>
                    <h6 class="white-text op-5 light-blue-text">تعداد کاربران:</h6>
                    <h2 class="white-text m-b-5">@Model.UserCount</h2>
                </div>
                <div class="ml-auto">
                    <span class="white-text display-6"><i class="material-icons">people_outline</i></span>
                </div>
            </div>
        </div>
    </div>
</div>