@using OnlineShoppingStore.Domain.Entities.HomePage.MainSlider;
@using OnlineShoppingStore.Areas.Admin.Models.Home
@model CreateSliderAndBanner
@{
    ViewBag.Title = "ایجاد اسلایدر";
    Layout = "~/Areas/Admin/Views/Shared/_Adminlayout.cshtml";
}

@section styles{
    <link href="~/Admin/css/products-controller/create.css" rel="stylesheet" />
}

@section roadMap{
    <div class="d-flex align-items-center main-roadmap">
        <a href="~/admin/home/dashboard">پنل مدیریت</a>
        <i class="la la-location-arrow"></i>
        <a href="~/admin/home/index">مدیریت اسلایدر</a>
        <i class="la la-location-arrow"></i>
        <h6>ایجاد اسلایدر جدید</h6>
    </div>
}

<section class="basic-elements">
    <div class="row">
        <form method="post" enctype="multipart/form-data">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title-wrap bar-success">
                            <h4 class="card-title mb-0">افزودن اسلایدر جدید</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="px-3">
                            <div class="form">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                            <fieldset class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control mb-1" placeholder="آدرس لینک" name="link">
                                                <span asp-validation-for="Link"></span>
                                                <div class="form-control-position">
                                                    <i class="ft-upload-cloud fa-2x text-bitbucket"></i>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                            <b>
                                                محل نمایش تصویر:
                                            </b>
                                            <select class="border" name="LocationEnum" asp-items="@Html.GetEnumSelectList<Location>()">
                                            </select>
                                        </div>
                                        <div class="card-body">
                                            <div class="px-3 upload-box">
                                                <fieldset class="form-group">
                                                    <label class="btn btn-bitbucket">
                                                        <span>انتخاب تصاویر:</span>
                                                        <input type="file" multiple=""
                                                               class="upload__inputfile" name="file">
                                                        <span asp-validation-for="File"></span>
                                                    </label>
                                                    <div class="upload-img-wrap"></div>
                                                </fieldset>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <div class="card-title-wrap bar-success">
                            <h4 class="card-title mb-0">مشخصات اصلی محصول</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="px-3">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-8 col-md-12 mb-3">
                                        <fieldset class="form-group">
                                            <input type="text" asp-for="Title" class="form-control mb-1"
                                                   placeholder="عنوان اصلی" />
                                            <span asp-validation-for="Title"></span>
                                        </fieldset>
                                    </div>

                                    <div class="col-xl-6 col-lg-8 col-md-12 mb-3">
                                        <fieldset class="form-group">
                                            <input type="text" asp-for="PreTitle" class="form-control mb-1"
                                                   placeholder="عنوان فرعی" />
                                            <span asp-validation-for="PreTitle"></span>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 mb-2">
                                        <fieldset class="form-group">
                                            <textarea type="text" asp-for="Paragraph" class="form-control"
                                                      placeholder="توضیحات"></textarea>
                                            <span asp-validation-for="Paragraph"></span>
                                        </fieldset>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="col-xl-12 col-lg-12 col-md-12 mt-3">
                        <fieldset class="form-group text-center">
                            <button class="btn btn-bitbucket col-md-2" id="btnAddProduct">ثبت اسلایدر</button>
                        </fieldset>
                    </div>
                </div>

            </div>
        </form>
    </div>
</section>

@section scripts{
    @if (TempData["Message"] != null)
    {
        <partial name="_SweetAlert" />
        TempData["IsSuccess"] = null;
        TempData["Message"] = null;
    }
    <script src="~/Admin/js/products-controller/create.js"></script>
}